.widget-toolbar {
   padding: 4px 2px 4px 12px;
   position: relative;
   display: block;
   background-color: transparent;
}


#widget_toolbars_panel .widget-icon {
    font-size: 13px;
    font-weight: 300;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgba(46,46,46,0.5);
    background-color: transparent;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
    
#widget_toolbars_panel .widget-icon:hover {
    border: 1px solid #08f;
    -webkit-box-shadow: 0 0 2px #08f;
    -moz-box-shadow: 0 0 2px #08f;
    box-shadow: 0 0 2px #08f;
    background-color: rgba(0,0,0,0.1);
    outline: none;
}

#widget_toolbars_panel .widget-link {
	margin-right:.7em;
}
    
#widget_toolbars_panel .widget-link:hover .widget-icon .widget-icon-label {
    text-decoration: none;
}


#widget_toolbars_panel {
    
	position: relative;
	z-index: 1;
	text-shadow: 0 -1px #000000;
}
    
#widget_toolbars_panel .widget-toolbar {
	padding: 4px 2px 4px 12px;
	position: relative;
	display: block;
	background-color: transparent;
}




.widget-context-panel {
	border-left:#ccc 1px solid !important;
}


.projecteditor-links a {

    display:block;
    margin-bottom:.8em;
    margin-right:.5em;
    background: -moz-linear-gradient(center top , #eeeeee, #dddddd) repeat scroll 0 0 #dddddd;
    border: 1px solid #f7f7f7;
    border-radius: 4px;
    box-shadow: 0 0 1px;
    color: #333;
    padding: 2px 8px;
    text-shadow: 0 1px 0 #fff;
}


.projecteditor-links a:hover {
    border: 1px solid #08f;
    -webkit-box-shadow: 0 0 2px #08f;
    -moz-box-shadow: 0 0 2px #08f;
    box-shadow: 0 0 2px #08f;
    background-color: rgba(0,0,0,0.1);
    color: #000;
    outline: none;
    
    text-decoration:none;
}


.projecteditor-form {
	max-width:90em;
	margin:.5em auto;
}